@tailwind base;
@tailwind components;
@tailwind utilities;

.bckg-fundamental{
  background-image: url("./assets/main-background.avif");
}

.background-menu:after {
  content:'';
  position:absolute;;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/main-background.avif");
  background-size: cover;
  filter: brightness(25%);
  backdrop-filter: brightness(25%);
  z-index: -1;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

.rightToLeft{
  animation: rightToLeft 10s infinite linear;
  animation-duration: 60s;
}

.leftToRight{
  animation: leftToRight 10s infinite linear;
  animation-duration: 60s;
}

.rollingText{
  -webkit-text-stroke-width : 2px;
  -webkit-text-stroke-color: #5E17EB;
  -webkit-text-fill-color: #fff;
}

.rollingTextDark{
  -webkit-text-stroke-width : 1px;
  -webkit-text-fill-color: #5E17EB;
}

@keyframes rightToLeft {
  form{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-50%);
  }
}

@keyframes leftToRight{
  form{
    transform: translateX(0%);
  }
  to{
    transform: translateX(50%);
  }
}